<div *ngIf="title" class="movie-data-container">
    <img [src]="imgPath">
    <div class="movie-details">
        <div class="movie-title">{{ title }}</div>
        <div class="movie-years">
            <div [classList]="year.length > 5 ? 'serie-year' : ''" class="movie-year">Year: {{ year }}</div>
            <div [classList]="year.length > 5 ? 'serie-rating' : ''" class="movie-rated">Ratings: {{ rated.slice(0, 2) }}</div>
            <div [classList]="year.length > 5 ? 'serie-released' : ''" class="movie-released">Released: {{ released }}</div>
        </div>
        <div class="movie-genre"><span>Genre: </span>{{ genre }}</div>
        <div class="movie-writer"><span>Writer: </span>{{ writer }}</div>
        <div class="movie-actors"><span>Actors: </span>{{ actors }}</div>
        <div class="movie-plot"><span>Plot: </span>{{ plot }}</div>
        <div class="movie-language"><span>Language: </span>{{ language }}</div>
        <div class="movie-rating"></div>
    </div>
</div>