<div class="main-container">
    <div class="left-container">
        <h3 class="main-text">Find the<br>most suitable Contents<br>as per your Mood</h3>
        <div class="form-group">
            <mat-icon class="search-icon">search</mat-icon>
            <input #input (keydown.enter)="movieTitle(input.value)" type="text" placeholder="Search via Mood">
            <button (click)="movieTitle(input.value)" type="button">Search</button>
        </div>
    </div>
    <movies-display class="movies-display"></movies-display>
</div>

